@charset "utf-8";
header{background:#f3f3f3;border-bottom:1px solid #ddd;}
header,nav,.banner,footer{width:100%;}
.container{display:block;width:1200px !important;margin:0 auto;}
header .container .nav>li{float:left;height:40px;}
header .nav>li>a{position: relative;display:block;padding:10px 15px;}
header .container .nav>li.dropdown ul.dropdown-menu{display:none;border:1px solid #ddd;border-top:none;}
header .container .nav>li.dropdown:hover ul.dropdown-menu{display: block;}
header .container .navbar-left{float:left;margin-left:15px;}
header .container .navbar-right{float:right;margin-right:15px;}
header .container .nav.navbar-left{margin-left: -15px;}
header .container .nav>li>a{display: inline-block;font-size: 14px;}
header .container .nav>li.status a{padding-left: 5px;padding-right: 5px;}
header .container .nav>li.status +li{margin-left: 10px;}
header .container .nav>li .highlight{color: #e4393c;}
header .container .nav>li.sep{line-height: 40px;}
header .container .nav>li.sep span{border-left: 1px solid #DDD;}
header .container .nav>li .dropdown-toggle{border: 1px solid #f3f3f3;}
header .container .nav>li .dropdown-toggle img.code{position: relative;top:2px;display:none;left:-10px;width:96px;height:96px;left:1px;}
header .container .nav>li:hover .heghlight img.code{display:block;}

header .container .nav>li .dropdown-toggle:hover,header .container .nav>li .dropdown-toggle.hover{background-color: #fff;border-left-color: #dddddd;border-right-color: #dddddd;border-top-color: #dddddd;z-index: 1005;}
header .container .nav>li a:hover{background:#eee;color:#00bf9d;}
header .container .dropdown-menu{border-radius: 0;border-color: #dddddd;border-top:0;top: 38px;width:102px;text-align:center;background:#fff;line-height:40px;}
header .container .dropdown-menu>li>a{padding-top: 6px;padding-bottom: 6px;}
header .container .nav>li.qreode .dropdown-menu img{width: 100%;height:100%;}

.bgwhite{background:#fff;}
.bgwhite .toplogo{height:74px;padding:25px 15px 35px;display: flex;justify-content:space-between;}
.bgwhite .toplogo .logo{width:168px;height:60px;margin:0 0 10px}
.bgwhite .toplogo .search{width:616px;height:68px;padding:0px 15px 0px 70px;}
.bgwhite .toplogo .search .sea{float:left;width:372px;height:38px;padding:1px 1px 1px 10px;border:1px solid #00bf9d;background:#fff;}
.bgwhite .toplogo .search .sub{float:left;width:100px;height:38px;font:16px "";background:#00bf9d;border:0;padding:1px 6px;}
.bgwhite .toplogo .mt10{margin-top:10px;}
.bgwhite .toplogo .mt10 .b-sep{border-left:1px solid #ddd;margin:0 8px;}
.bgwhite .toplogo .mt10 a{color:#666;}
.bgwhite .toplogo .mt10 a:hover{border-bottom:1px solid black;}
.bgwhite .toplogo .topInfos{display:flex;width:410px;height:44px;margin-top:15px;padding:0 15px;position: relative;}
.bgwhite .toplogo .topInfos #globalCartBox{position:relative;display:inline-block;width:142px;}
.bgwhite .toplogo .topInfos img{width:26px;height:23px;margin-left:10px;}
.bgwhite .toplogo .topInfos .cartNum{position: absolute;font:12px "";width:18px;height:18px;border-radius:50%;color:#fff;text-align:center;left:28px;display:block;background:#e4393c;box-sizing: border-box;top:7px;}
.bgwhite .toplogo .topInfos .topInfosCart{color:#666;width:142px;height:44px;;line-height:44px;text-align:center;border:1px solid transparent;border-bottom:0;}
.bgwhite .toplogo .topInfos .cartText{margin-left:10px;}
.bgwhite .toplogo .topInfos .topInfosNone{display:none;position: absolute;right:0;top:42px;z-index:10;border:1px solid #ddd;text-align:left;padding:15px;width:320px;line-height:90px;}
.bgwhite .toplogo .topInfos a.topInfosAsk{color:#00bf9d;margin:10px 0 0 10px;padding-left:15px;border-left:1px solid #ddd;display:inline-block;height:18px;}
.mainnav{background:#fff;height:50px;border-bottom:2px solid #00bf9d;position: relative;}
.mainnav ul li.nv{float:left;height:50px;}
.mainnav ul li.nv a{font:800 18px/18px "";display:block;padding:15px;color:#000;}
.mainnav ul li.drapdown{position: relative;background:#00bf9d;float:left;height:50px;width:230px;}
#show{width:100%;height:100%;}
.mainnav ul li.all #show a{font:800 18px/18px "";display:block;padding:15px 0 0 20px;color:#fff;}
.mainnav .drapdown .drapdown-nav{width:210px;position:absolute;left:0;top:49px;padding:2px 0 3px;border-bottom:6px solid #00bf9d;z-index: 20;background:#fff;padding:16px 10px;display:none;}
.mainnav .drapdown .drapdown-nav li h4{font:800 16px/16px "";position: relative;widows:100%;margin-bottom:15px;}
.mainnav .drapdown .drapdown-nav li h4 a{display:inline-block;color:#00bf9d;}
.mainnav .drapdown .drapdown-nav li h4 img{position: absolute;right:0px;}
.mainnav .drapdown .drapdown-nav li p{box-sizing:border-box;}
.mainnav .drapdown .drapdown-nav li p a{font:14px/20px "";;margin:0 13px 13px 0;display:inline-block;}
.mainnav .drapdown .drapdown-nav  li{position: relative;}
.threemean{position:absolute;left:30xp;top:20px;display:none;}
.meanbox{border:1px solid #000;background:#00bf9d;}
 
.mt15{margin-top:15px;}
.breadcrumb{padding:8px 15px;margin-bottom:20px;border-radius:4px;color:#777;}
.breadcrumb>li{display:inline-block;}
.glypicon{position: relative;top:1px;display:inline-block;}
.breadcrumb li span{margin:8px;color:#00bf9d;}

.itemCover{padding:35px 15px 35px 5px;border:1px solid #ddd;background:#fff;margin-bottom:20px;box-sizing: border-box;}
.itemCoverShow{width:40%;float:left;position: relative;}
.itemCoverShowContainer{width:88%;margin:auto;position: relative;}
.specPreview{width:92%;height:auto;border:1px solid #eee;position: relative; padding:5px;text-align:center;}
.specPreview a{width:400px;text-decoration:none;display:block;position: relative;}
.specScroll{margin-top:10px;width:100%;position: relative;}
.specScroll .items{width:100%;height:74px;overflow:hidden;position: relative;}
.specScroll .items ul{height:100%;width:420px;position: absolute;top:0;left:0;}
.specScroll .items ul li{float:left;margin-right:10px;}
.specScroll .items ul li img{border:1px solid #eee;padding:2px;width:74px;height:74px;}
.itemShowTopPanel{width:56%;float:right;padding-right:3%;}
.itemShowTopPanel .goodsName{font:800 18px/2 "";border-bottom:1px solid #eee;padding-bottom:8px;}
.itemShowTopPanel .goodsName .subtitle {color: #e4393c;font-weight:normal}
.itemShowTopPanel .goodsInfo li {line-height: 2;color: #666;display: table;width: 100%;padding-top: 8px;}
.itemShowTopPanel .goodsInfo li .td {display: table-cell; width: 50%;}
b, strong {font-weight: 700;}
.Reserve{color:#f60;font-weight:bold;padding-right:10px;}
.pf{display:inline-block;height:17px;width:80px;vertical-align:middle;margin-right:5px;}
.pf_5{background-position:0 -33;}
.itemShowTopPanel .choose {color: #666; border-top: 1px solid #eee;padding-top: 15px;}
.itemShowTopPanel .choose dt {float: left; margin-right: -80px;font-weight: 700;
}
.itemShowTopPanel .choose dd { float: left; padding-left: 80px;width: 100%;}
.choose .current, .choose dd a:hover {color: #e4393c; border-color: #e4393c;}
.choose dd a {position: relative;text-decoration: none;border: 2px solid #eee;margin-right: 0.62rem;display: inline-block;padding: 5px;}
.choose dd a img {margin: -3p;vertical-align: middle;}
.itemShowTopPanel .buttons {border-top: 1px dotted #e6e7e7;padding: 25px 0 0 0;margin-top: 25px;}
.buttonsStatus {background-color: #f60; padding: 8px 40px;color: #fff;font-size: 18px;}













.footer{background-color:white;}
.footer ul.advantage{margin-bottom:20px;border-bottom:1px solid #ddd}
footer ul.floatl li{float:left;width:20%;}
.footer ul.tel{float: left;}
.footer .advantage li{padding:40px 0;}
.footer .footHelp li{margin-bottom:20px;}
.footer .advantage .texts{font-size:12px;color:#999;}
.footer .advantage .title{font-size:16px;margin-bottom:3px;}
.footer .footHelp .mb25{margin:10px 0;font-size:18px;}
.footer .footHelp ul li p a{color:#999;font:14px/2 "";}
.footer .footHelp ul li p a:hover{color:#00bf9d;border-bottom:1px solid #00bf9d;}
.footer .tc{text-align:center;margin:0 0 10px;float:left;}
.footer .tc .contact{font-size:26px;color:#00bf9d}
.footer .tc .work{color:#999;}
.footer .tc .consultation{padding:5px 30px;border:1px solid #00bf9d;border-radius:5px;font-size:18px;color:#00bf9d;}

.copyright{padding:30px 0;}
.copyright .sep{border-left:1px solid #ddd;margin:0 5px;margin-bottom:10px;}
.copyright p{margin:10px 0;}
.copyright p span{color:#999}
.copyright p a{color:#999;}


.backtop{width:100px;height:26px;position: fixed;background:#999;bottom:10px;right:0;font:16px/26px "";color:#fff;text-align:center;border-radius:5px;display:none;}